
<div class="row">
    <div class="col-md-4">
    </div>

    <div class="col-md-4">
        <h2> <b>About Us</b></h2>
        <p> GYJ LLC is an all American garbage and recycle collector. Founded in 2017, the company is headquarted in Milwaukee, Wisconsin. </p>
    </div>


    <div class="col-md-4">
        </div>
    </div>
