@{
    ViewBag.Title = "Schedule Page";
}

<div class="jumbotron">
    <center>
        <h2>Fees|Schedule</h2>
        <p class="lead"></p>
    </center>
    </p>
</div>

<div class="row">
    <div class="col-md-6">
        <p> [Fee]</p>
    </div>

    <div class="col-md-6">
        <p> [Schedule]</p>
    </div>

</div>