@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <center>
    <h1>GYJ Interprise</h1> 
    <p class="lead">[Mission Statement Go HERE]</p>
    </center>
</p>
</div>

<div class="row">
    <div class="col-md-4">
        <center>
         <h3> <b>Garbage Solution</b> </h3> <br />
            <img src="~/Content/icon_recycling.jpg" height="150" width="150" />
        </center>
    </div>

    <div class="col-md-4">
        <center>
            <h3> <b>Recycle Solution</b> </h3> <br />
        <img src="~/Content/trashcan.jpg" height="150" width="150" />
            </center>
    </div>
    <div class="col-md-4">
        <center>
            <h3> <b>Time Solution</b> </h3> <br />
        <img src="~/Content/trashtruck.jpg" height="150" width="150" />
        </center>
    </div>
</div>